body{
    margin-top: 100px;
}
body::before{
    content: 'xs';
    color: rgb(92, 231, 11);
    font-size: 30px;
    position: fixed;
    font-weight: bold;
    top:0;
    left:0;
}

@media(min-width :576px){
    body::before{
        content: 'SM';
    }
}
@media(min-width :768px){
    body::before{
        content: 'MD';
    }
}
@media(min-width :992px){
    body::before{
        content: 'LG';
    }
}
@media(min-width :1200px){
    body::before{
        content: 'XL';
    }
}
@media(min-width :1400px){
    body::before{
        content: 'XXL';
    }
}